<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cadenza.shoeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShoeApp">
        <activity
            android:name=".profilePart.Open_Menu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".profilePart.CusLoginActivity"
            android:exported="false" />
        <activity
            android:name=".profilePart.CustomerRegPart"
            android:exported="false" />
        <activity
            android:name=".SellerPart.SellerReviewActivity"
            android:exported="false" />
        <activity
            android:name=".SellerPart.SellerListActivity"
            android:exported="false" />
        <activity
            android:name=".Rate.RiviewRateActivity"
            android:exported="false" />
        <activity
            android:name=".Rate.RatingActivity"
            android:exported="false" />
        <activity
            android:name=".SellerPart.OfficeShoeUpload"
            android:exported="false" />
        <activity
            android:name=".SellerPart.SportShoeUpload"
            android:exported="false" />
        <activity
            android:name=".SellerPart.MainMenuInteface"
            android:exported="true">

        </activity>
        <activity
            android:name=".SellerPart.SellerActivity"
            android:exported="false" />
        <activity
            android:name=".SellerPart.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SellerPart.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".CustermerPart.item"
            android:exported="true" />
        <activity
            android:name=".CustermerPart.UpdateOrder"
            android:exported="false" />
        <activity
            android:name=".CustermerPart.OrderList"
            android:exported="false" />
        <activity
            android:name=".CustermerPart.ReadData"
            android:exported="false" />
        <activity
            android:name=".CustermerPart.EditOrder"
            android:exported="false" />
        <activity
            android:name=".CustermerPart.MainActivity3"
            android:exported="false" />
        <activity
            android:name=".CustermerPart.Order"
            android:exported="false" />
        <activity
            android:name=".SellerPart.MainActivity"
            android:exported="true" />
    </application>

</manifest>